In [75]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [76]:
data=pd.read_csv('loan.csv')

In [77]:
data['LoanAmount']=data['LoanAmount'].fillna(np.mean(data['LoanAmount']))

In [78]:
data['Loan_Amount_Term']=data['Loan_Amount_Term'].fillna(np.mean(data['Loan_Amount_Term']))

In [79]:
data.dropna(inplace=True)

In [80]:
data.drop(columns=['Loan_ID'],axis=1,inplace=True)

In [81]:
data.drop(columns=['Gender','Self_Employed','Credit_History','Property_Area'],axis=1,inplace=True)

In [82]:
data.head()

,Married,Dependents,Education,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term
0,Yes,0,Graduate,5720,0,110.0,360.0
1,Yes,1,Graduate,3076,1500,126.0,360.0
2,Yes,2,Graduate,5000,1800,208.0,360.0
4,No,0,Not Graduate,3276,0,78.0,360.0
5,Yes,0,Not Graduate,2165,3422,152.0,360.0

In [83]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
data['Dependents']=encoder.fit_transform(data['Dependents'])

In [84]:
X=data.drop(labels=['LoanAmount'],axis=1)

In [85]:
y=data['LoanAmount']

In [86]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [87]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [88]:
data.head(1)

,Married,Dependents,Education,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term
0,Yes,0,Graduate,5720,0,110.0,360.0

In [89]:
category_column=['Married','Education']
numeric_column=['Dependents','ApplicantIncome','CoapplicantIncome','Loan_Amount_Term']

In [90]:
num_pipeline=Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy='median')),
        ('scaler',StandardScaler())
    ]
)

cat_pipeline=Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('encoding',OneHotEncoder())
    ]
)

preprocessor=ColumnTransformer(
    [
        ('num_pipeline',num_pipeline,numeric_column),
        ('category_column',cat_pipeline,category_column)
    ]
)

In [91]:
X_train=preprocessor.fit_transform(X_train)

In [92]:
X_test=preprocessor.transform(X_test)

In [93]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score
model=LinearRegression()
model.fit(X_train,y_train)
y_pred=model.predict(X_test)
print("mse",mean_squared_error(y_test,y_pred))
print("mae",mean_absolute_error(y_test,y_pred))
print("r2",r2_score(y_test,y_pred))

mse 2453.6334541705623
mae 35.0199800680623
r2 0.1949027457341198